*{
 margin: 0;
}

.bdy{
 background: whitesmoke;
 overflow-x: hidden;
}

/* for custom scrollbar for webkit browser*/
 
::-webkit-scrollbar {
  width: 5px;
} 
::-webkit-scrollbar-track {
  background: rgb(228, 228, 228); 
} 
::-webkit-scrollbar-thumb {
  background: rgb(39, 39, 39);
  border-radius: 10px;
}

/* Content */

.item img{
 border-radius: 20px;
}

.slidecaption {
  position: absolute;
  top: 80px; /* Adjust as needed */
  left: 70px; /* Adjust as needed */
  right: 250px;
  padding: 10px;
  border-radius: 5px;
}

.slidecaption h3{
  margin: 0;
  color: white;
  font-size: 40px;
  font-family: "Inter", sans-serif;
}

.slidecaption p{
 color: white;
 font-family: 'Nunito', sans-serif;
 font-size: 17px;
 padding-top: 20px;
 padding-bottom: 40px;
}

.slidecaption a{
 text-decoration: none;
 color: white;
 font-family: 'Nunito', sans-serif;
 background-color: rgb(20, 20, 20);
 font-size: 13px;
 padding-left: 27px;
 padding-right: 27px;
 padding-top: 15px;
 padding-bottom: 15px;
 border-radius: 3px;
}

.slidecaption a:hover{
 background-color: rgb(255, 95, 84);
 transition: 1s;
}

.slide1{
 display: flex;
 justify-content: space-between;
 margin-right: 20px;
}

.side2{
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  position: relative;

}

.image-container img{
  transition: 0.5s all ease-in-out;
}

.image-container:hover img {
  transform: scale(1.07);
}

.overlay {
  position: absolute;
  left: 20px;
  top: 40px;
  right: 30px;
  color: white;
  padding: 10px;
  opacity: 1;
}

.overlay h3{
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}

.overlay p{
  font-family: 'Nunito', sans-serif;
  font-size: 15px;
  padding-top: 10px;
}

.popularcat{
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer;
  position: relative;
}

.overlay1 {
  position: absolute;
  left: 20px;
  top: 30px;
  right: 30px;
  color: white;
  padding: 10px;
  opacity: 1;
}

.overlay1 h3{
  font-size: 17px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
}

.overlay1 p{
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  padding-top: 5px;
  color: rgb(212, 212, 212);
}

.image-containers img{
  transition: 0.9s all ease-in-out;
}

.image-containers:hover img {
  transform: scale(1.07);
}

.overlay2 {
  position: absolute;
  left: 30px;
  top: 30px;
  right: 150px;
  color: white;
  padding: 10px;
  opacity: 1;
}

.overlay2 h3{
  font-size: 25px;
  font-family: 'Nunito', sans-serif;
}

.overlay2 p{
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  padding-top: 10px;
}

.hot{
 margin-top: 50px;
 display: flex;
 justify-content: space-between;
}

.hot span{
 font-size: 25px;
 font-family: 'Nunito', sans-serif;
 padding-left: 15px;
}

.hot a{
 text-decoration: none;
 color: black;
 padding-right: 15px;
 font-family: 'Nunito', sans-serif;
 font-size: 15px;
}

.hot a:hover{
 color: rgb(1, 197, 197);;
 transition: 0.3s;
}

.card1 img{
 /* border-radius: 20px; */
}

.card1 small{
 color: rgb(0, 57, 180);
 font-weight: bold;
 font-family: 'Nunito', sans-serif;
 font-size: 14px;
}

.card1 span{
 color: rgb(0, 0, 0);
 font-family: 'Nunito', sans-serif;
 font-weight: bold;
}

.card1 p{
 color: rgb(90, 90, 90);
 font-size: 14px;
}

.botun{
 color: whitesmoke;
 background-color: rgb(29, 29, 29);
 border: 0;
 font-size: 14px;
 border-radius: 5px;
 padding-left: 45px;
 padding-right: 45px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 20px;
 margin-top: 10px;
 font-family: 'Nunito', sans-serif;
 margin-left: 4px;
}

.botun:hover{
 background-color: rgb(10, 165, 255);
 transition: 0.3s;
}

.popular{
 margin-top: 70px;
 display: flex;
 justify-content: space-between;
}

.popular span{
 font-size: 25px;
 font-family: 'Nunito', sans-serif;
 padding-left: 15px;
}

.deals small{
 color: rgb(0, 57, 180);
 font-weight: bold;
 font-family: 'Nunito', sans-serif;
 font-size: 14px;
 margin-top: 20px;
}

.deals span{
 color: rgb(184, 0, 0);
 font-family: 'Nunito', sans-serif;
 font-weight: bold;
}

.deals p{
 color: rgb(90, 90, 90);
 font-size: 14px;
}

.deals ul li{
 color: rgb(90, 90, 90);
 font-size: 14px;
 font-family: 'Nunito', sans-serif;
}

.boton{
 color: whitesmoke;
 background-color: rgb(29, 29, 29);
 border: 0;
 font-size: 14px;
 border-radius: 5px;
 margin-left: 10px;
 padding-left: 140px;
 padding-right: 140px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 20px;
 margin-top: 10px;
 font-family: 'Nunito', sans-serif;
}

.boton:hover{
 background-color: rgb(10, 165, 255);
 transition: 0.3s;
}

.tops small{
 color: rgb(0, 57, 180);
 font-weight: bold;
 font-family: 'Nunito', sans-serif;
 font-size: 13px;
 margin-top: 20px;
}

.tops span{
 color: rgb(184, 0, 0);
 font-family: 'Nunito', sans-serif;
 font-weight: bold;
}

.tops p{
 color: rgb(90, 90, 90);
 font-size: 14px;
}

.tops ul li{
 color: rgb(90, 90, 90);
 font-size: 13px;
 font-family: 'Nunito', sans-serif;
}

.butun{
 color: whitesmoke;
 background-color: rgb(29, 29, 29);
 border: 0;
 font-size: 14px;
 border-radius: 5px;
 margin-left: 10px;
 padding-left: 110px;
 padding-right: 110px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 20px;
 margin-top: 20px;
 font-family: 'Nunito', sans-serif;
}

.butun:hover{
 background-color: rgb(10, 165, 255);
 transition: 0.3s;
}

.blog small{
 color: rgb(0, 0, 0);
 font-weight: bold;
 font-family: 'Nunito', sans-serif;
 font-size: 15px;
 margin-top: 20px;
}

.blog span{
 color: rgb(90, 90, 90);
 font-size: 16px;
 font-weight: lighter;
 font-family: 'Nunito', sans-serif;
}

.p1{
 color: rgb(90, 90, 90);
 font-size: 14px;
 font-family: 'Nunito', sans-serif;
}

.p2{
 color: rgb(90, 90, 90);
 font-size: 13px;
 font-family: 'Nunito', sans-serif;
}

.a1{
 text-decoration: none;
 font-family: 'Nunito', sans-serif;
}

.a2{
 text-decoration: none;
 font-family: 'Nunito', sans-serif;
 font-size: 12px;
 color: black;
 font-weight: bold;
 padding-right: 50px;
}

.blog ul li{
 color: rgb(90, 90, 90);
 font-size: 13px;
 font-family: 'Nunito', sans-serif;
}

.butun{
 color: whitesmoke;
 background-color: rgb(29, 29, 29);
 border: 0;
 font-size: 14px;
 border-radius: 5px;
 margin-left: 10px;
 padding-left: 110px;
 padding-right: 110px;
 padding-top: 10px;
 padding-bottom: 10px;
 border-radius: 20px;
 margin-top: 20px;
 font-family: 'Nunito', sans-serif;
}

.butun:hover{
 background-color: rgb(10, 165, 255);
 transition: 0.3s;
}

.botuns{
 margin-left: 6px;
 margin-right: 6px;
}

.botuns p{
  background-color: rgb(29, 29, 29);
  border: 0;
  font-size: 14px;
  border-radius: 20px;
  margin-top: 10px;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
 color: whitesmoke;
 transition: 0.3s;
 }

 .botuns a{
  text-decoration: none;
 }

 .botuns p:hover{
  background-color: rgb(10, 165, 255);
  transition: 0.3s;
 }

.brands{
 background-color: white;
 display: flex;
 justify-content: space-between;
}

.brands a{
 padding-top: 15px;
 padding-bottom: 15px;
}

/* Content End  */

/* Change Image */

.change {
  position: relative;
}

.change img:last-child {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s all ease-in-out;
}

.change:hover img:nth-child(2) {
  opacity: 1;
  transform: scale(1.03);
  transition: 0.4s all ease-in-out;
}

.discount {
  position: absolute;
  left: 15px;
  top: 15px;
  color: white;
  opacity: 1;
}

.discount p{
  font-family: 'Nunito', sans-serif;
  font-size: 13px;
  color: rgb(255, 255, 255);
  background-color: rgb(58, 182, 58);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 3px;
  padding-bottom: 2px;
  border-radius: 2px;
}

.quickwish{
  position: absolute;
  right: 15px;
  top: 15px;
  color: white;
  opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

.quickwish p{
  color: rgb(26, 26, 26);
  width: 35px;
  height: 35px;
  border-radius: 20px;
  padding-left: 9px;
  padding-top: 6px;
  font-size: 15px;
  background-color: rgba(228, 228, 228, 0.712);
  transition: 0.5s;
  cursor: pointer;
}

.quickwish input{
 border: 0;
 width: 35px;
 height: 35px;
 border-radius: 20px;
 right: 0px;
 top: -1px;
 background-color: transparent;
 color: transparent;
 position: absolute;
}

.quickwish p:hover{
  background-color: rgb(10, 165, 255);
  color: white;
  transition: 0.5s;
}

.card1:hover .quickwish{
  opacity: 1;
  visibility: visible;
}