*{
  margin: 0;
 }
 
 .bdy{
  overflow-x: hidden;
  background-color: whitesmoke;
 }


 .top{
  display: flex;
  background-color: white;
  padding-top: 17px;
  padding-bottom: 2px;
  padding-left: 10px;
 }
 
 .top a{
  text-decoration: none;
  color: black;
  font-family: 'Nunito', sans-serif;
 }
 
 .top p{
  color: gray;
  padding-left: 5px;
  font-family: 'Nunito', sans-serif;
 }

 body { 
  font-size: 140%; 
}

h2 {
  text-align: center;
  padding: 20px 0;
}

table caption {
  padding: .5em 0;
}

.table tr td{
  font-family: 'Nunito', sans-serif;
}

.table tr td a{
  color: black;
  text-decoration: none;
  transition: 0.3s;
  font-weight: bold;
}

.table tr td a:hover{
  color: rgb(10, 165, 255);
  transition: 0.3s;
}

table.dataTable th,
table.dataTable td {
  white-space: nowrap;
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

.card-img{
 border-radius: 15px;
}

.userimg{
 border-radius: 7px;
}