html {
  font-size: 16px;
  overflow-x: hidden;
}
body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}


.form-control {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #bfd0e0;
}
.form-control:focus {
  background-color: #ffffff;
  color: #000000;
  border-color: transparent;
  box-shadow: 0 0 0 0.1rem rgb(180, 206, 233, 0.5);
}
.form-group label {
  color: #000000;
  margin-bottom: 10px;
}
.tm-hide-sm {
  display: block;
}
.tm-list-group {
  counter-reset: myOrderedListItemsCounter;
  padding-left: 0;
}
.tm-list-group > li {
  list-style-type: none;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 8px;
}
.tm-list-group > li:hover {
  color: #0266c4;
}
.tm-list-group > li:before {
  counter-increment: myOrderedListItemsCounter;
  content: counter(myOrderedListItemsCounter) ".";
  margin-right: 0.5em;
}
.tm-list {
  padding-left: 30px;
}
.tm-list > li {
  margin-bottom: 20px;
}
.form-control {
  padding: 19px 18px;
  border-radius: 0;
  height: 50px;
}
.form-group {
  margin-bottom: 15px;
}
.btn {
  border-radius: 0;
  padding: 13px 28px;
  transition: all 0.2s ease;
  max-width: 100%;
}
.btn-small {
  padding: 10px 24px;
}
.btn-primary {
  color: #fff;
  background-color: #f5a623;
  border: 2px solid #f5a623;
  font-size: 90%;
  font-weight: 600;
}
.btn-primary:active,
.btn-primary:hover {
  color: #f5a623;
  background-color: transparent;
  border: 2px solid #f5a623;
}

.custom-select {
  width: 100%;
  border: 1px solid #bfd0e0;
  color: #6a6b6d;
  height: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  padding-left: 15px;
  background: url(../img/arrow-down.png) 98% no-repeat #ffffff;
}
.custom-select:focus {
  outline: 0;
}

.tm-product-img-dummy {
  max-width: 100%;
  height: 240px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #ffffff;
  border: 1px solid #bfd0e0;
}
.tm-product-img-edit {
  max-width: 100%;
  position: relative;
}
.tm-product-img-edit i {
  display: none;
  position: absolute;
}
.tm-product-img-edit:hover i {
  display: block;
}
.tm-upload-icon {
  background: #c4d7eb;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
  font-size: 22px;
}
