@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Poppins:400,500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}
.bg-img{
  background: url('./pngtree-digital-retailing-illustration-laptop-keyboard-with-shopping-basket-and-e-commerce-image_3903657.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.content{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 999;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  transform: translate(-50%,-50%);
  background: rgba(255,255,255,0.04);
  backdrop-filter: blur(50px);
  border-radius: 10px;
}
.content header{
  color: white;
  font-size: 33px;
  font-weight: 600;
  margin: 0 0 35px 0;
  font-family: 'Montserrat',sans-serif;
}
.field{
  position: relative;
  height: 35px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
  border-radius: 7px;
}
.field span{
  color: #222;
  width: 40px;
  line-height: 35px;
}
.field input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: 'Poppins',sans-serif;
}
.space{
  margin-top: 16px;
}
.file span{
  color: #222;
  width: 40px;
  line-height: 35px;
}
.file{
  position: relative;
  height: 35px;
  width: 100%;
  display: flex;
  background: rgba(255,255,255,0.94);
  border-radius: 7px;
}
.file input{
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 14px;
  font-family: 'Poppins',sans-serif;
  padding-top: 7px;
}
.submit{
  background: rgb(255, 141, 10);
  border: 1px solid #00000000;
  color: white;
  font-size: 17px;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
  font-family: 'Montserrat',sans-serif;
  transition: 0.2s linear;
  border-radius: 7px;
  margin-top: 16px;
  height: 35px;
  width: 100%;
}

.submit input{
 height: 100%;
 width: 100%;
 background: transparent;
 border: none;
 outline: none;
 color: #ffffff;
 font-size: 16px;
 font-family: 'Poppins',sans-serif;
}
.submit:hover{
  background: #000000;
}